<!-- <script defer src="app.js"></script> -->

<body>
    <h1>einkaufsliste works!</h1>


    <section class="hidden">
        <h1>Example 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Non odio euismod lacinia at.</p>
    </section>


    <section class="hidden">
        <h2>Example 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Non odio euismod lacinia at.</p>
    </section>


    <section class="hidden">
        <h2>Example 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Non odio euismod lacinia at.</p>
    </section>

</body>



<app-cardview></app-cardview>