html,body{
  height: 100%;
}
.container {
  background-color: aquamarine;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px 10px 20px 20px;

}

#cForm{
  border: 2px solid black;
  background-color: #abc1be;
  padding: 20px;
  margin-top: 50px;

}

.btn{
  margin: 10px 0 0 0 ;
}

label {
  display: flex;
  padding-top: 10px;
}
